<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <title>{% block title %}Login{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <form method="post" action="{{ path('admin_login_check') }}" role="login" class="form-vertical">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-user"></i></div>
                                    </div>
                                    <input type="username" name="_username" class="form-control" value="{{ last_username }}" placeholder="{{ "Username"|trans }}">
                                </div>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-lock"></i></div>
                                    </div>
                                    <input type="password" name="_password" class="form-control" placeholder="{{ "Contraseña"|trans }}">
                                </div>
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}
                                <div class="form-group">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                                    <input type="hidden" name="_target_path" value="/admin/login" />
                                    <button type="submit" class="btn btn-grey">{{ "Entrar" | trans }}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="{{ asset('build/js/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>