<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <title>{% block title %}{{ "Bienvenido :)" | trans }}{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    </head>
    <body>
        <div id="app" data-is-authenticated="{{ isAuthenticated }}" data-roles="{{ roles }}"></div>

        <script src="{{ asset('build/js/app.js') }}"></script>
    </body>
</html>
